VITE_API_URL_DEV= # The url the backend is running on in development.
VITE_API_URL_PROD= # The url the backend is running on in production.
VITE_HCAPTCHA_SITE_KEY= # HCAPTCHA site key.
VITE_HCAPTCHA_TEST_KEY=10000000-ffff-ffff-ffff-000000000001 # HCAPTCHA test key. Is static and used in development.
JWT_KEY= # JWT key for signing tokens, can be anything, make sure its 32 characters or more.