:root {
	--poker-green: #35654dff;
	--card-blue: #1e407bff;
	--chestnut: #a44a3fff;
	--eggshell: #F8F2DCff;
	--ivory: #f6f7ebff;

	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--color-bg-0: var(--ivory);
	--color-bg-1: var(--eggshell);
	--color-bg-2: var(--poker-green);
	--color-theme-1: var(--card-blue);
	--color-theme-2: var(--chestnut);
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);

	--screen-md: 720px;
	--screen-sm: 480px;
}

body {
	min-height: 100vh;
	margin: 0;
	background-image: url('$lib/images/felt.png');
	background-color: var(--color-bg-2);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.content {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 720px;
	background-color: var(--color-bg-0);
	padding: 55px 20px 20px 10px;
}

.horizontal-line {
	width: 100%;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.1);
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

@media (max-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}

	.content {
		padding-top: 45px;
	}
}